<h1>Restaurantes Disponíveis</h1>
<ul>
    {% for restaurant in restaurants %}
        <li>
            Nome: <strong>{{ restaurant.name }}</strong>
            <br>
            Descrição: <strong><i>{{ restaurant.description }}</i></strong>
            <br>
            Endereço: <strong><i>{{ restaurant.address_line1 }}</i></strong>
            <br>
            Telefone: <strong><i>{{ restaurant.formatted_phone }}</i></strong>
            <br>
            Quantidade de Mesas: <strong>{{ restaurant.table_set.count }}</strong>
            <br>
            Mesas Disponíveis: <strong>{{ restaurant.get_available_tables_count }}</strong>
            <br>
            <a href="{% url 'show_tables' restaurant_id=restaurant.id %}">Ver Mesas</a>
        </li>
        <br>
    {% endfor %}
</ul>
